$color_degrade_banner:linear-gradient( 90deg, #409dbe, #7fcedd, #409dbe);
$color_blanco:#fff;
$color_blanco_dos:#f3f3f5;
$color_celeste: #46ABDF;
$color_celeste_dos: #0192d5;
$color_gris: #636363;
$color_gris_dos: #4a4a4a;
$color_gris_tres: #999999;
$color_blanco_tres: #f9f9f9;
$color_gris_oscuro: #222;
$color_gris_oscuro_dos: #333;
$color_negro: #000;
$color_rojo: #e0040b;